@import "../../../styles/common";


.listOfSchedule {
    list-style: none;

    li {
        border-bottom: 1px solid rgb(187, 187, 187);
        // font-size: 1.25rem;

        &:last-child {
            border-bottom: none;
        }

        .siteName {
            // font-size: 14pt;
            line-height: 17pt;
            font-size: 1.35rem;
        }

        .inspectionDatetime {
            // font-size: 13pt;
            font-size: 1rem;
        }
    }
}