@import "../../../styles/common";
@import "../../../styles/messageBubble";

.full-screen {
    width: 100%;
    height: 100%;
    position: relative;
}

.toronto-bg {
    background-image: url("../../../images/Toronto-skyline-at-night-bg.jpg");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    // filter: blur(2px);
    background-size: cover;
    background-position-x: 80%;
    display: inline-block;

    @include breakpoint(tablet) {
        background-position: center center;
    }
}

.white-pane {
    background-color: rgba(189, 186, 186, 0.9);
    position: absolute;
    left: 0;
    bottom: 15%;
    height: 250px;
    width: 100%;

    @include breakpoint(tablet) {
        top: 0;
        left: 0;
        width: 380px;
        height: 100%;
    }
}

.login-container {
    // position: absolute;
    // top: 30%;

    @include breakpoint(tablet) {
        // background-color: #00f;
        position: absolute;
        top: 40%;
        // width: 400px;
    }
}

.langSwitcher {
    position: fixed;
    top: 0.75rem;
    right: 0.75rem;

    @include breakpoint(tablet) {
        top: 2rem;
        right: 2rem;
    }
}


// .login-grid {
//     // display: none;
//     position: absolute;
//     left: 0;
//     bottom: 5rem;

//     @include breakpoint(phone-up) {
//         display: grid;
//         grid-template-columns: 380px auto;
//         grid-template-rows: auto;
//         grid-template-areas: "left-pane .";
//         // position: absolute;
//         top: 0;
//         left: 0;
//         width: 100%;
//         height: 100%;
//     }

//     .left-pane {
//         background-color: rgba(211, 209, 209, 0.75);
//         height: 250px;
//         padding: 0.5rem 0;


//         @include breakpoint(phone-up) {
//             grid-area: left-pane;
//             height: 100%;
//             background-color: rgba(211, 209, 209, 0.75);
//         }
//     }
// }




.font-condensed {
    font-family: 'Arial Narrow', 'Franklin Gothic Medium', Arial, sans-serif;
}

.vertical-middle {
    display: flex;
    align-items: center;
}



.valign-middle {
    vertical-align: middle;
}

