@import "../../../styles/common";

.dashboardTopNav {

    .pageTitle {
        display: none;

        @include breakpoint(tablet) {
            display: inline;
        }
    }
    
    
    ul.rightBlock {
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;
        // border: 1px solid #f00;
        vertical-align: middle;
        
        li {
            display: inline-block;
            padding: 0 0.5rem;
            text-align: center;
            vertical-align: middle;

            .initials {
                background-color: rgb(0, 47, 255);
                border-radius: 1.5rem;
                padding: 0.5rem;
                color: #fff;
                font-size: 1.35rem;

                @include breakpoint(phone) {
                    font-size: 1.2rem;
                }
            }

            &.divider::after {
                display: block;
                background-color: rgb(145, 145, 145);
                content: '';
                width: 1px;
                height: 40px;
            }

            .buttonIcon {
                // margin-top: 0.25rem;
                height: 1.5rem;
                top: 0.3rem;
                position: relative;

                @include breakpoint(phone) {
                    margin-top: 0.25rem;
                    height: 2rem;
                }
            }

            @include breakpoint(phone) {
                .buttonLabel {
                    display: none;
                }
            }
        }
    }
}