@import '../../../styles/common';
@import '../../pages/home/home_var';

.workorderDetails {
    background-color: #f1ebdb;
    height: 100%;
    overflow-y: auto;

    .siteName {
        line-height: 1.9rem;
    }

    .dataGroup, .inspectionTime {
        
        .dataWrapper, .timeWrapper, .contactWrapper {
            background-color: #fff;
            border-radius: 50px;
            padding: 1px 10px 1px 1px;

            .icon {
                background-color: rgb(34, 120, 219);
                color: #fff;
                border-radius: 50px;
                padding: 4px;
                width: 1.5rem;
                height: 1.5rem;
                margin-right: 3px;
            }
        }
    }

    .actionButton {
        min-width: 100px;
        border-radius: 3px;
        height: 35px;
        // border: none;
        padding: 0 15px;
        margin: 0 1px;

        &.primary {
            border: none;
        }
        
        &.secondary {
            border: 1px solid #858585;
        }
    }
}