/**
 * Flex content alignment classes
 *
 * Use in-conjunction with "flex" CSS class (see _visibliity.scss)
 *
 * Examples:
 *
 * <div class="flex valign-middle halign-center">
 *    <div>Item 1</div>
 *    <div>Item 2</div>
 *    <div>Item 3</div>
 * </div>
 */

.valign-middle {
    // display: flex;
    align-items: center;
}

.valign-top {
    // display: flex;
    align-items: flex-start;
}

.valign-bottom {
    // display: flex;
    align-items: flex-end;
}

.halign-left {
    // display: flex;
    justify-content: flex-start;
}

.halign-right {
    // display: flex;
    justify-content: flex-end;
}

.halign-center {
    // display: flex;
    justify-content: center;
}

.h-spread {
    justify-content: space-between;
}

.h-spread-evenly {
    justify-content: space-evenly;
}

.h-equal-space-around {
    justify-content: space-around;
}