$desktop-max-width: 1200px;
$phone: 480px; // 0 to 480px
$tablet: 768px; // 0 to 768px
$desktop: 1200px;

// Small phone: 0 -> 413px
// Phone: 414px -> 767px
// Tablet: 768px -> 1023px
// Desktop: 1024px ->

// $breakpointNames: 'phone' 'phone-up' 'tablet' 'tablet-up' 'desktop';
$breakpointNames: 'phone' 'tablet' 'tablet-up' 'desktop';

@mixin breakpoint ($breakpoint) {
    @if $breakpoint == phone {
        // 0 to 480px
        @media screen and (max-width: $phone) {
            @content;
        }
    // } @else if $breakpoint == phone-up {
    //     // >=481px
    //     @media screen and (min-width: ($phone+1)) {
    //         @content;
    //     }
    } @else if $breakpoint == tablet {
        // 0 to 768px
        @media screen and (min-width: $tablet) {
            @content;
        }
    // } @else if $breakpoint == tablet-up {
    //     // >= 769px
    //     @media screen and (min-width: ($tablet+1)) {
    //         @content;
    //     }
    } @else if $breakpoint == desktop {
        // >=1200px
        @media screen and (min-width: $desktop) {
            @content;
        }
    } @else {
        @content;
    }



    // @if $breakpoint == small-phone {
    //     @media only screen and (max-width: ($phone - 1px)) {
    //         @content;
    //     }
    // } @else if $breakpoint == phone {
    //     @media only screen and (min-width: $phone) and (max-width: ($tablet - 1px)) {
    //         @content;
    //     }
    // } @else if $breakpoint == tablet {
    //     @media only screen and (min-width: $tablet) and (max-width: ($desktop - 1px)) {
    //         @content;
    //     }
    // } @else if $breakpoint == desktop {
    //     @media only screen and (min-width: $desktop) {
    //         @content;
    //     }
    // } @else {
    //     @content;
    // }
}
