@import './breakpoint';
@import './color';
@import './padding-and-margin';
@import './text';
@import './visibility';
@import './alignment';

.borderless {
    border: none;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}


/*
 * Parent element needs to be "position: relative"
 */
%positionCommon {
    position: absolute;
}

.top-left {
    @extend %positionCommon;
    top: 0;
    left: 0;
}

.top-right {
    @extend %positionCommon;
    top: 0;
    right: 0;
}

.bottom-left {
    @extend %positionCommon;
    bottom: 0;
    left: 0;
}

.bottom-right {
    @extend %positionCommon;
    bottom: 0;
    right: 0;
}

// Box shadow
$shadowBlurFactor: 5px;
$shadowSpread: 1px;
$shadowShift: 5px;
$shadowColor: rgba(0,0,0,0.3);
.box-shadow-br {
    -webkit-box-shadow: $shadowShift $shadowShift $shadowBlurFactor $shadowSpread $shadowColor; 
    box-shadow: $shadowShift $shadowShift $shadowBlurFactor $shadowSpread $shadowColor; 
    //box-shadow: 5px 5px 5px 1px rgba(0,0,0,0.3);
}

.box-shadow-bl {
    -webkit-box-shadow: (-1 * $shadowShift) $shadowShift $shadowBlurFactor $shadowSpread $shadowColor; 
    box-shadow: (-1 * $shadowShift) $shadowShift $shadowBlurFactor $shadowSpread $shadowColor; 
    // box-shadow: -5px 5px 5px 1px rgba(0,0,0,0.3);
}

.box-shadow-tl {
    -webkit-box-shadow: (-1 * $shadowShift) (-1 * $shadowShift) $shadowBlurFactor $shadowSpread $shadowColor; 
    box-shadow: (-1 * $shadowShift) (-1 * $shadowShift) $shadowBlurFactor $shadowSpread $shadowColor; 
    // box-shadow: -5px -5px 5px 1px rgba(0,0,0,0.3);
}

.box-shadow-tr {
    -webkit-box-shadow: $shadowShift (-1 * $shadowShift) $shadowBlurFactor $shadowSpread $shadowColor; 
    box-shadow: $shadowShift (-1 * $shadowShift) $shadowBlurFactor $shadowSpread $shadowColor; 
    // box-shadow: 5px -5px 5px 1px rgba(0,0,0,0.3);
}

// Border radius
.border-radius-xs {
    border-radius: 0.15rem; //3px;
}

.border-radius-sm {
    border-radius: 0.5rem; //5px;
}

.border-radius-md {
    border-radius: 0.7em; //10px;
}

.border-radius-lg {
    border-radius: 1.5rem; //15px;
}

.border-radius-xl {
    border-radius: 2rem; //17px;
}