// .bubble {
//     border: 2px solid #000;
//     border-radius: 5px;

//     &.red {
//         border-color: #f00;
//     }

//     &:after {
//         width: 0; 
//   height: 0; 
//   border-left: 15px solid transparent;
//   border-right: 15px solid transparent;
  
//   border-bottom: 15px solid black;
//         content: '';
//         position: relative;
//         top: -41px;
//         left: -40px;
//     }
// }