@import "breakpoint";

/**
 * Margin and padding classes
 *
 * [mp][l|r|t|b|x|y|a]-[xxs|xs|sm|md|lg|xl|none|auto]
 *
 * [mp]: m - margin, p - padding
 * 
 * [l|r|t|b|x|y|a]: l - left, r - right, t - top, b - bottom
 *                  x - left and right
 *                  y - top and bottom
 *                  a - left, right, top, and bottom
 *
 * [xxs|xs|sm|md|lg|xl|none|auto]: 
 *                             xxs - 0.25rem;
 *                             xs - 0.5rem;
 *                             sm - 1.0rem;
 *                             md - 1.5rem;
 *                             lg - 2.0rem;
 *                             xl - 2.5rem;
 *                             none - 0;
 *                             auto - auto;
 *
 * Example:
 * 
 * mx-sm - Small (1rem) left and right margins
 * pa-lg - Large (2rem) all around paddings
 * pl-xs pt-md mr-lg - Extra-small left-padding, medium top-padding, and large right-margin
 *
 * ----------------------------
 * Screen size sensitive padding and margin
 *
 * Add one of the follow suffix to the margin or padding classess:
 *   -@phone
 *   -@tablet
 *   -@desktop
 *
 * Example:
 *
 * mx-sm-@phone mx-md-@tablet mx-xl-@desktop
 *      Small (1rem) left and right margins for mobile phone, Medium (1.5rem) left and right
 *      margins for tablet, and Extra-large left and right margins for desktop
 *
 * pa-sm-@phone pa-none-@desktop
 *      Small all around paddings for mobile phone, and no padding for desktop
 */
$mp: ("m": "margin-", "p": "padding-");
$mpPos: "l", "r", "t", "b", "x", "y", "a";
$mpSize: ("xxs": 0.25rem, "xs": 0.5rem, "sm": 1rem, "md": 1.5rem, "lg": 2rem, "xl": 2.5rem, "xxl": 3.5rem, "none": 0, "auto": auto);

@each $a, $classPrefix in $mp {
    @each $b in $mpPos {
        @each $c, $size in $mpSize {
            .#{$a}#{$b}-#{$c} {
                // $m-or-p: "";
                // $mp-pos: "";

                @if ($b == "l") {
                    #{$classPrefix}left: #{$size};
                } @else if ($b == "r") {
                    #{$classPrefix}right: #{$size};
                } @else if ($b == "t") {
                    #{$classPrefix}top: #{$size};
                } @else if ($b == "b") {
                    #{$classPrefix}bottom: #{$size};
                } @else if ($b == "x") {
                    #{$classPrefix}left: #{$size};
                    #{$classPrefix}right: #{$size};
                } @else if ($b == "y") {
                    #{$classPrefix}top: #{$size};
                    #{$classPrefix}bottom: #{$size};
                } @else if ($b == "a") {
                    #{$classPrefix}left: #{$size};
                    #{$classPrefix}right: #{$size};
                    #{$classPrefix}top: #{$size};
                    #{$classPrefix}bottom: #{$size};
                }


            }

            .#{$a}#{$b}-#{$c}-\@phone {
                @include breakpoint(phone) {
                    @if ($b == "l") {
                        #{$classPrefix}left: #{$size};
                    } @else if ($b == "r") {
                        #{$classPrefix}right: #{$size};
                    } @else if ($b == "t") {
                        #{$classPrefix}top: #{$size};
                    } @else if ($b == "b") {
                        #{$classPrefix}bottom: #{$size};
                    } @else if ($b == "x") {
                        #{$classPrefix}left: #{$size};
                        #{$classPrefix}right: #{$size};
                    } @else if ($b == "y") {
                        #{$classPrefix}top: #{$size};
                        #{$classPrefix}bottom: #{$size};
                    } @else if ($b == "a") {
                        #{$classPrefix}left: #{$size};
                        #{$classPrefix}right: #{$size};
                        #{$classPrefix}top: #{$size};
                        #{$classPrefix}bottom: #{$size};
                    }
    
                }
            }

            // .#{$a}#{$b}-#{$c}-\@phone-up {
            //     @include breakpoint(phone-up) {
            //         @if ($b == "l") {
            //             #{$classPrefix}left: #{$size};
            //         } @else if ($b == "r") {
            //             #{$classPrefix}right: #{$size};
            //         } @else if ($b == "t") {
            //             #{$classPrefix}top: #{$size};
            //         } @else if ($b == "b") {
            //             #{$classPrefix}bottom: #{$size};
            //         } @else if ($b == "x") {
            //             #{$classPrefix}left: #{$size};
            //             #{$classPrefix}right: #{$size};
            //         } @else if ($b == "y") {
            //             #{$classPrefix}top: #{$size};
            //             #{$classPrefix}bottom: #{$size};
            //         } @else if ($b == "a") {
            //             #{$classPrefix}left: #{$size};
            //             #{$classPrefix}right: #{$size};
            //             #{$classPrefix}top: #{$size};
            //             #{$classPrefix}bottom: #{$size};
            //         }

            //     }
            // }

            .#{$a}#{$b}-#{$c}-\@tablet {
                @include breakpoint(tablet) {
                    @if ($b == "l") {
                        #{$classPrefix}left: #{$size};
                    } @else if ($b == "r") {
                        #{$classPrefix}right: #{$size};
                    } @else if ($b == "t") {
                        #{$classPrefix}top: #{$size};
                    } @else if ($b == "b") {
                        #{$classPrefix}bottom: #{$size};
                    } @else if ($b == "x") {
                        #{$classPrefix}left: #{$size};
                        #{$classPrefix}right: #{$size};
                    } @else if ($b == "y") {
                        #{$classPrefix}top: #{$size};
                        #{$classPrefix}bottom: #{$size};
                    } @else if ($b == "a") {
                        #{$classPrefix}left: #{$size};
                        #{$classPrefix}right: #{$size};
                        #{$classPrefix}top: #{$size};
                        #{$classPrefix}bottom: #{$size};
                    }

                }
            }

            .#{$a}#{$b}-#{$c}-\@desktop {
                @include breakpoint(desktop) {
                    @if ($b == "l") {
                        #{$classPrefix}left: #{$size};
                    } @else if ($b == "r") {
                        #{$classPrefix}right: #{$size};
                    } @else if ($b == "t") {
                        #{$classPrefix}top: #{$size};
                    } @else if ($b == "b") {
                        #{$classPrefix}bottom: #{$size};
                    } @else if ($b == "x") {
                        #{$classPrefix}left: #{$size};
                        #{$classPrefix}right: #{$size};
                    } @else if ($b == "y") {
                        #{$classPrefix}top: #{$size};
                        #{$classPrefix}bottom: #{$size};
                    } @else if ($b == "a") {
                        #{$classPrefix}left: #{$size};
                        #{$classPrefix}right: #{$size};
                        #{$classPrefix}top: #{$size};
                        #{$classPrefix}bottom: #{$size};
                    }
                    
                }
            }
        }
    }
}
