@import './breakpoint';

.all-caps {
    text-transform: uppercase;
}

.bold {
    font-weight: bold;
}

/*
 * Font size CSS classes
 *
 * Available classes:
 * .font-size-[xs|sm|baseline|md|lg|xl]
 * .font-size-[xs|sm|baseline|md|lg|xl]-@[phone|tablet|tablet-up|desktop]

 */
$fontSizes: (
    'font-size-sm': 0.75rem,
    'font-size-xs': 0.5rem,
    'font-size-baseline': 1rem,
    'font-size-md': 1.5rem,
    'font-size-lg': 2rem,
    'font-size-xl': 2.5rem
);

@each $className, $fontSize in $fontSizes {
    .#{$className} {
        font-size: #{$fontSize};
    }

    @each $bp in $breakpointNames {
        .#{$className}-\@#{$bp} {
            @include breakpoint($bp) {
                font-size: #{$fontSize};
            }
        }
    }
}