@import './breakpoint';

/**
 * Visibility classes
 *
 * Usage:
 *
 * <visibility-type>-@<breakpoint>
 *
 * <visibility-type>: hidden
 *                    inline
 *                    block
 *                    inlineBlock
 *                    grid
 *                    flex
 *                    inlineFlex
 *
 * <breakpoint>: phone
 *               tablet
 *               tablet-up
 *               desktop
 *
 * Examples:
 *
 * <div class="hidden">...</div>
 * <div class="hidden-@phone inline-@tablet block-@desktop">...</div>
 */

$visibilities: (
    'hidden': 'none',
    'inline': 'inline',
    'block': 'block',
    'inlineBlock': 'inline-block',
    'grid': 'grid',
    'flex': 'flex',
    'inlineFlex': 'inline-flex'
);

@each $v, $display in $visibilities {
    
    .#{$v} {
        display: #{$display};
    }

    @each $bp in $breakpointNames {
        .#{$v}-\@#{$bp} {
            @include breakpoint($bp) {
                display: #{$display};
            }
        }
    }
}

// This is different from "display: none"
.invisible {
    visibility: hidden;
}