@import '../../../styles/common';

.leftMenu {
    ul {
        list-style-type: none;

        li {
            text-align: center;
            padding: 0.5rem 0;
            margin: 5px;
    
            &.active {
                border: 1px solid blue;
            }
    
            div {
                font-size: 0.7rem;

                @include breakpoint(phone) {
                    display: none;
                }
            }
        }
    
    }
}
