@import '../../../styles/visibility';
@import '../../../styles/padding-and-margin';
@import '../../../styles/color';

$errorColor: rgb(255, 0, 0);
$errorBgColor: rgb(252, 218, 218);
$warningColor: rgb(255, 166, 0);
$warningBgColor: rgb(253, 237, 207);

.messageBubbleWrapper {
    .pointer {
        width: 0; 
        height: 0; 
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        
        border-bottom: 15px solid #000;
        position: relative;
        left: 10px;
    
        &:after {
            width: 0; 
            height: 0; 
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            border-bottom: 15px solid #fff;
            content: '';
            position: absolute;
            left: -15px;
            top: 3px;
        }
      
    }
    
    .message {
        border: 2px solid #000;
        border-radius: 5px;
        background-color: #fff;
    }

    &.error {
        .pointer {
            border-bottom-color: $errorColor;

            &:after {
                border-bottom-color: $errorBgColor;
            }
        }

        .message {
            border-color: $errorColor;
            background-color: $errorBgColor;
        }
    }

    &.warning {
        .pointer {
            border-bottom-color: $warningColor;

            &:after {
                border-bottom-color: $warningBgColor;
            }
        }

        .message {
            border-color: $warningColor;
            background-color: $warningBgColor;
        }
    }
}
