.workOrders {
    // background-color: #f1ebdb;
    // position: fixed;
    // top: 80px;
    // left: $leftOffset;
    // width: $woListWidth;
    // height: calc(100% - 100px);
    height: 100%;
    overflow-y: auto;

    &::-webkit-scrollbar {
        display: none;
    }
}
