@import "../../../styles/common";
@import "./home_var";

.dashboard {

    .bg-toronto {
        background-image: url('../../../images/65244278-city-11592-162cfe6a30b.jpg');
        background-repeat: no-repeat;
        background-size: 100% auto;
        // background-position: 10% 25%;
        // filter: blur(3px);
        width: 100%;
        height: 100%;
    
        @media screen and (max-width: 1654px) {
            background-size: auto auto;
            background-position: center center;
        }
    }
    
    .full-height {
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
    }
    
    .left-nav {
        width: 70px;
        background-color: #dedede;
        display: inline-block;
        box-shadow: 7px 0px 11px -1px rgba(0,0,0,0.25);
        z-index: 999;

        @include breakpoint(tablet) {
            width: 100px;
        }
    
    }
    

    .top-nav {
        background-color: #ffefc3;
        position: fixed;
        left: 70px;
        top: 0;
        width: calc(100% - 70px);

        @include breakpoint(tablet) {
            top: 10px;
            left: $leftOffset;
            width: calc(100% - 140px);
        }
    
    }
    
    .dashboard-title {
        font-size: 1.5rem;
    }

    
    .workOrders {
        background-color: #f1ebdb;
        position: fixed;
        top: 70px;
        left: $leftOffsetPhone;
        width: $woListWidthPhone;
        height: calc(100% - 80px);
        overflow-y: auto;
        margin-right: 10px;

        &::-webkit-scrollbar {
            display: none;
        }

        @include breakpoint(tablet) {
            top: 80px;
            left: $leftOffset;
            margin-right: 0;
            width: $woListWidth;
            height: calc(100% - 100px);
        }

        &.slideLeft {
            @include breakpoint(phone) {
                -webkit-animation: slideLeft 1s forwards;
                animation: slideLeft 0.5s forwards;

                @-webkit-keyframes slideLeft {
                    100% { left: (-1 * $woListWidthPhone) }
                }
    
                @keyframes slideLeft {
                    100% { left: (-1 * $woListWidthPhone) }
                }
            }
        }

        &.slideRight {
            @include breakpoint(phone) {
                -webkit-animation: slideRight 0.5s reverse;
                // -webkit-animation-delay: 2s;
                animation: slideRight 0.5s reverse;
                // animation-delay: 2s;

                @-webkit-keyframes slideRight {
                    100% { left: (-1 * $woListWidthPhone) }
                }
    
                @keyframes slideRight {
                    100% { left: (-1 * $woListWidthPhone) }
                }
            }
        }

    }

    .woDetails {
        position: fixed;
        top: 70px;
        left: 100%;
        margin-right: 10px;
        // width: calc(100% - $leftOffsetPhone - 10px);
        width: 100%;
        height: calc(100% - 80px);
        // margin-right: 10px;
        // margin-left: $leftOffsetPhone;
        padding-left: $leftOffsetPhone;
        padding-right: 10px;


        // .woContents {
        //     height: 100%;
            
        //     background-color: #f1ebdb;
        //     border: 1px solid #f00;
        //     overflow-y: auto;
        // }

        @include breakpoint(tablet) {
            top: 80px;
            left: ($leftOffset + $woListWidth);
            padding-left: 20px; //($leftOffset + $woListWidth + 20px);
            padding-right: 20px;
            // margin-right: 0;
            width: calc(100% - #{$woListWidth + $leftOffset});
            height: calc(100% - 100px);

        }

        &.slideLeft {
            @include breakpoint(phone) {
                -webkit-animation: wodSlideLeft 0.5s forwards;
                animation: wodSlideLeft 0.5s forwards;

                @-webkit-keyframes wodSlideLeft {
                    100% { left: 0; } // $leftOffsetPhone }
                }
    
                @keyframes wodSlideLeft {
                    100% { left: 0; } // $leftOffsetPhone }
                }
            }

        }

        &.slideRight {
            @include breakpoint(phone) {
                -webkit-animation: wodSlideRight 0.5s reverse;
                animation: wodSlideRight 0.5s reverse;

                @-webkit-keyframes wodSlideRight {
                    100% { left: 0; }
                }
    
                @keyframes wodSlideRight {
                    100% { left: 0; }
                }
            }

        }
    }
}