@import "../../../styles/common";

.langSwitcherDDL {

    .fullscreen {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        // background-color: rgba(128, 128, 128, 0);
    
    }

    .langSelectionWrapper {
        position: relative;

        .currentLang {
            background-color: #fff;
            border: 1px solid #000;
            border-radius: 5px;
            display: inline-block;
            display: flex;
            justify-content: space-between;
            align-items: center;
            min-width: 200px;
            padding-left: 0.5rem;
            cursor: pointer;
        
            .langLabel {
                font-size: 1rem;
            }
        }
        
        .langList {
            background-color: #fff;
            border: 1px solid #000;
            border-radius: 5px;
            columns: 2;
            column-gap: 1px;
            position: absolute;
            right: 0;
            width: 470px;
            margin: 0;
            padding-left: 0;
            list-style-type: none;

            @include breakpoint(phone) {
                columns: 1;
                width: 235px;
            }
    
            li {
                font-size: 1.1rem;
                padding: 0.5rem 0.75rem;
                display: inline-flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
    
                &:hover {
                    background-color: rgb(255, 215, 129);
                    cursor: pointer;
                }
            }
        }
    }    
}

