@import "../../../styles/common";

.smokeScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.5);
    // display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;

    .dialogBox {
        width: 350px;
        height: 150px;
        position: relative;

        button {
            min-width: 80px;
            padding: 0.5rem 0;
        }
    }
}