@import '../../../styles/common';

.loginInput {
    .login-input, .login-button {
        height: 50px;
    }
    
    .login-button {
        display: inline-flex;
        align-items: center;
        // font-size: 1.3rem;

        @include breakpoint(tablet) {
            min-width: 11rem;
        }
    }
    
    .login-input {
        width: 165px;
    
        @include breakpoint(tablet) {
            width: 200px;
        }
    }
    
}
